@inherits LayoutComponentBase

<div class="w-100 main" style="height:100vh; overflow:hidden">
    <div class="h-100">
		<div class="top-bar p-0 m-0">
			<h4 class="text-light py-2 pl-3 m-0">
				Talon
			</h4>
		</div>
		<div class="d-flex flex-row h-100 p-0 m-0 align-items-stretch ">
			@*<div class="bg-purple-1 h-100">
				<NavMenu />
			</div>*@
			<div class="w-100 bg-light" >
				@Body
			</div>
		</div>
	</div>
</div>


