
<div class='bg-dark p-0 m-0 h-100 '>
	<ul class=" nav flex-column p-0 m-0 h-100">
		<li class="nav-item p-0 m-0">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-credit-card" aria-hidden="true"></span>
			</NavLink>
		</li>
		<li class="nav-item p-0 m-0">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-aperture" aria-hidden="true"></span>
			</NavLink>
		</li>
	</ul>
</div>

@code {

}
