@page "/addwallet"
@using System.ComponentModel.DataAnnotations
@using ProjectTalon.Core.Services

@inject IAddressService addressService
@inject NavigationManager navigationManager

<h2>AddWallet</h2>

<div class="row">
    <div class="col-6">
        <EditForm Model="@addWalletModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label class="form-label">Name:</label>
                <InputText class="form-control" @bind-Value="addWalletModel.Name" />
            </div>
            <div class="mb-3">
                <label class="form-label">Mnemonic:</label>
                <InputText class="form-control" @bind-Value="addWalletModel.Mnemonic" />
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <InputText class="form-control" @bind-Value="addWalletModel.Password" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>


@code {

    public class AddWalletModel
    {
        [Required]
        public string? Name { get; set; }

        [Required]
        public string? Mnemonic { get; set; }

        [Required]
        public string? Password { get; set; }
    }

    private AddWalletModel addWalletModel = new();

    private async Task HandleValidSubmit()
    {
        // Process the valid form
        await addressService.AddWallet(addWalletModel.Name, addWalletModel.Mnemonic, addWalletModel.Password);
        navigationManager.NavigateTo("");
    }
}
