@page "/send"

<h3>Send</h3>

<EditForm EditContext="editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

</EditForm>

@code {
    
    private EditContext? editContext;
    private object addWalletModel = new();
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        editContext = new(addWalletModel);
    }

    private async Task HandleValidSubmit()
    {

    }
}
