@page "/about"

<h1>Welcome to Project Talon!</h1>

Project Talon is here to help you manage your Funds, Tokens, and NFTs on the Cardano Blockchain. 

<SurveyPrompt 
	Title="What all can I do with Project Talon?" 
	Body="Please visit our Youtube Channel and learn what is possible with Project Talon."
	Link="https://github.com/CardanoSharp/cardanosharp-wallet"/>
	
<SurveyPrompt 
	Title="Who is behind Project Talon?" 
	Body="Meet the Team at CardanoSharp."
	Link="https://github.com/CardanoSharp/cardanosharp-wallet"/>