
@page "/generate/"

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Generate Wallet</h5>
        @if (!ConsentToSeeMnumonic)
        {
            <p class="card-text">
                The following screen will show you your 15 word mnumonic. Please do not show your mnumonic to anyone you do not want to have access to your account.
                <br />
                <br />
                It is very import that you record these 15 words in a safe place. failure to do so could result in the inability to access your funds.
            </p>
            <Button Text="See Mnumonic" OnClick="GenerateMnumonic" />
        }
        else
        {
            <div>
                <p class="card-text">
                    @Mnumonic
                </p>
                <br />
                <p class="card-text">
                    This is the only time you will be able to see your Mnumonic. Please only click next once you are sure you have recorded them properly
                </p>
                <Button Text="Next"  />
            </div>
        }
    </div>
</div>

@code {
    bool ConsentToSeeMnumonic { get; set; } = false;
    string Mnumonic { get; set; }

    void GenerateMnumonic()
    {
        ConsentToSeeMnumonic = true;
        Mnumonic = "consider friend complete substantial keep explain game disuse cobweb cheese deny sink consider exchange fallaciouss crawny sun bite sized notice whip savor vagabond";
    }

}

