@using System.ComponentModel.DataAnnotations;
@using ProjectTalon.App.ViewModel
@page "/generate/"
@layout BlankLayout
@inject NavigationManager UriHelper
@inject IGenerateMnemonicViewModel ViewModel 

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Generate Wallet</h5>
        @if (!ViewModel.ConsentToSeeMnumonic)
        {
            <p class="card-text">
                The following screen will show you your 15 word mnumonic. Please do not show your mnumonic to anyone you do not want to have access to your account.
                <br />
                <br />
                It is very import that you record these 15 words in a safe place. failure to do so could result in the inability to access your funds.
            </p>
            <button @onclick="ViewModel.GenerateMnemonic">Generate Mnemonic</button>    
        }
        else if (!ViewModel.DoneSeeingMnumonic)
        {
            <div>
                <p class="card-text">
                    @ViewModel.Mnemonic
                </p>
                <br />
                <p class="card-text">
                    This is the only time you will be able to see your Mnumonic. Please only click next once you are sure you have recorded them properly
                </p>
                <button @onclick="ViewModel.RecordedConfirmed">Next</button>
            </div>
        }
        else
        {
            <div>
                <EditForm EditContext="@ViewModel.EditContext" OnValidSubmit="@ViewModel.HandleValidSubmit"> 
                    <DataAnnotationsValidator />
                    <ValidationSummary />                   
                    <div class="form-group text-left">
                        <label>Name</label>
                        <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.Name" />
                    </div>
                    <div class="form-group text-left">
                        <label>Recovery Phrase</label>
                        <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.RecoveryPhrase" />
                    </div>
                    <div class="form-group text-left">
                        <label>Spending Password</label>
                        <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.SpendingPassword" />
                    </div>
                    <div class="form-group text-left">
                        <label>Confirm Spending Password</label>
                        <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.ConfirmSpendingPassword" />
                    </div>
                    <button type="submit">Submit</button>
                </EditForm>
            </div>
        }
    </div>
</div>

