@page "/"
@layout BlankLayout
@inject NavigationManager UriHelper
<div class="d-flex flex-row align-items-center justify-content-center h-100">
    <div class="w-100 d-flex flex-column justify-content-center text-center pt-3 align-items-center h-100">
        <h1 class="pb-5 color-primary">Welcome to Talon Wallet</h1>

        <h5 class="pb-5">How would you like to get started?</h5>
        <div class="d-flex flex-column w-100" style="max-width:300px;">
            <div class="p-2 flex-sm-fill">
                <button class="btn btn-primary btn-lg btn-block w-100 shadow " @onclick="@(()=>GoTo("restore"))">Restore a Wallet</button>
            </div>
            <div class="p-2 flex-sm-fill">
                <button class="btn btn-primary btn-lg btn-block shadow " @onclick="@(()=>GoTo("generate"))">Create a Wallet</button>
            </div>
        </div>
    </div>
</div>



@code{
    void GoTo(string page)
    {
        UriHelper.NavigateTo(page);
    }
}