@page "/"

<h1>No Wallets Found</h1>

<div class="d-flex">
	<div class="p-2 flex-sm-fill">
		<button class="btn btn-success btn-block">Create</button>
	</div>
	<div class="p-2 flex-sm-fill">
		<button class="btn btn-primary btn-block">Restore</button>
	</div>
</div>