@using System.ComponentModel.DataAnnotations;
@using ProjectTalon.App.ViewModel
@page "/restore/"
@layout BlankLayout
@inject NavigationManager UriHelper
@inject IRestoreViewModel ViewModel 


<Card CardTitle="Restore This Wallet" CardStyles="min-width:400px">
     <div>
        <EditForm EditContext="@ViewModel.EditContext" OnValidSubmit="@ViewModel.HandleValidSubmit"> 
            <DataAnnotationsValidator />
            <ValidationSummary />                   
            <div class="form-group text-left">
                <label>Name</label>
                <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.Name" />
            </div>
            <div class="form-group text-left">
                <label>Recovery Phrase</label>
                <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.RecoveryPhrase" />
            </div>
            <div class="form-group text-left">
                <label>Spending Password</label>
                <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.SpendingPassword" />
            </div>
            <div class="form-group text-left">
                <label>Confirm Spending Password</label>
                <InputText class="form-control" @bind-Value="ViewModel.WalletCreationForm.ConfirmSpendingPassword" />
            </div>
            <button type="submit">Submit</button>
        </EditForm>
    </div>
</Card>

