<button class="btn btn-lg btn-@Theme shadow cursor-pointer mt-3 @Classes "  type="submit">
    @Text
</button>

@code {
    [Parameter]
    public string Theme { get; set; } = "primary";

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Classes { get; set; }
}
